html,
body {
  height: 100%;
  margin: 0;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  background-image: url("../img/WorldMap-Small.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#root {
  min-height: 100%;
}
