.siteStar {
  width: 32px;
  height: 32px;
  z-index: 100;
}

.siteStarActive {
  animation: siteStarActive 2s;
}

@keyframes siteStarActive {
  0% {transform: scale(1);}
  50% {transform: scale(4); }
  100% {transform: scale(2);}
}
