.moreInfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.moreInfoContent {
  width: 500px;
  display: flex;
  flex-flow: column nowrap;
}

.moreInfoImage {
  text-align: center;
  margin-top: -1.5rem;
}

.moreInfoPerson {
  font-family: LiberationSans;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: black 0.1em 0.1em 0.4em;
  text-align: center;
}
