.moreInfo {
  display: flex;
  flex-flow: column nowrap;
  color: #d9d0ad;
  font-family: LiberationSans;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.moreInfoContent {
  width: 600px;
  padding: 0 2rem;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5rem;
}

.moreInfoImage {
  text-align: center;
  margin-top: -1.5rem;
}

.moreInfoPerson {
  font-size: 24px;
  font-family: LiberationSans;
  font-weight: 600;
  text-shadow: black 0.1em 0.1em 0.4em;
  text-align: center;
  padding-bottom: 1rem;
}
